.categories-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 16px;
  .category {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    &-total {
      font-weight: bold;
    }
    &-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 16px;
      flex-grow: 1;
      > div {
        display: flex;
        gap: 16px;
      }
    }
  }
}

.ReactModalPortal {
  .modal-header {
    position: sticky;
    top: 0px;
    background-color: transparent;
    z-index: 1000;
    display: flex;
    justify-content: end;
    align-items: center;
    > span {
      cursor: pointer;
      font-size: 20px;
      padding: 6px;
      background: transparent;
    }
  }
  .close-btn {
    margin-top: 1rem;
    float: 'right';
  }
}
