.bills-table {
  width: 100%;
  margin-top: 15px;
  border-collapse: collapse;

  .row {
    display: flex;
    width: 100%;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    &:hover {
      background-color: #e9ecef;
    }

    .cell {
      flex: 1;
      padding: 12px;

      strong {
        font-weight: bold;
      }
    }

    &.header {
      font-weight: bold;
      color: white;
      background-color: #2b2d42;
    }
  }

  // Estilos para dispositivos móviles
  @media (max-width: 576px) {
    overflow-x: auto;

    .header {
      display: none;
    }

    .row {
      flex-direction: column;
      &:hover {
        background: unset;
      }

      &:nth-child(even) {
        background-color: #e5e5e5;
      }

      .cell {
        &:before {
          content: attr(data-label);
          font-weight: 500;
          margin-right: 5px;
        }
      }
    }
  }
}
