html {
  background-color: white;
}

body {
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

#app {
  min-height: 100vh;
}

.main-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  .pie-chart {
    gap: 15px;
    @media screen and (width <= 1024px) {
      flex-wrap: wrap;
    }
  }
  .horizontal-bar-chart {
    min-height: 600px;
    width: 80%;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.cursor-pointer {
  cursor: pointer;
}

.month-selector {
  > select {
    padding: 6px;
    border-radius: 12px;
    &:focus-visible {
      outline: none;
    }
  }
}

@import 'components/button';
@import 'components/fonts';
