html {
  background-color: white;
}

body {
  max-width: 1200px;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

#app {
  min-height: 100vh;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.month-selector {
  > select {
    padding: 6px;
    border-radius: 12px;
    &:focus-visible {
      outline: none;
    }
  }
}

@import 'components/button';
@import 'components/fonts';
