html {
  background-color: white;
}

body {
  max-width: 1200px;
  margin: auto;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

@import 'components/button';
